<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">

                    <!-- BODY CONTENT -->

                    <h2>Search Results</h2>

                    <table id="rounded-corner">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Phone No.</th>
                            <th>Skype ID</th>
                            <th>Employee ID</th>
                            <th>UUID</th>
                        </tr>
                        </thead>

                        <tbody>


                        {{#emplist}}
                        <tr class="odd">
                            <td>{{sno}}.</td>
                            <td>{{firstName}}</td>
                            <td>{{email}}</td>
                            <td>{{phoneNumber}}</td>
                            <td>{{skypeId}}</td>
                            <td>{{empId}}</td>
                            <td>{{uuid}}</td>


                            {{#if type}}
                                <td><a href="/profile/{{uuid}}">View</a></td>

                            {{/if}}
                        </tr>

                        {{/emplist}}
                        </tbody>
                    </table>
                </div>
            </div>

            {{#if type}}
            {{> admin_sidebar}}
            {{/if}}

        </div>


    </div>
</div>
