<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <ul id="tabsmenu" class="tabsmenu">
                        <li class="active"><a href="#tab1">Employee details</a></li>
                    </ul>

                    <div id="tab1" class="tabcontent">
                        <h3>Add New Employee Details</h3>
                        <div class="form">

                            <div class="form_row">
                                <label>First Name:</label>
                                <input type="text" class="form_input2" placeholder={{fname}} id="firstName" />
                                <brek></brek>
                                <label>Last Name:</label>
                                <input type="text" class="form_input2" placeholder={{lname}} id="lastName" />
                            </div>

                          <!--  <div class="form_row">
                                <label>Father's Name:</label>
                                <input type="text" class="form_input2" id="fatherName" placeholder= />
                                <brek></brek>
                                <label>Mother's Name:</label>
                                <input type="text" class="form_input2" id="motherName" />
                            </div>
-->
                            <div class="form_row">
                                <label>Date of Birth:</label>
                                <input type="text" class="form_input2" id="dob" placeholder={{dob}}/>
                                <brek></brek>
                                <label>Date of Joining:</label>
                                <input type="text" class="form_input2" id="doj" placeholder={{doj}}/>
                            </div>

                            <div class="form_row">
                                <label3>Permanent Address Details</label3>
                            </div>

                            <div class="form_row">
                                <label>Street Address:</label>
                                <input type="text" class="form_input" id="permAdd" placeholder={{perm_add}}/>
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <input type="text" class="form_input2" id="permCity" placeholder={{perm_city}} />
                                <brek></brek>
                                <label>State:</label>
                                <input type="text" class="form_input2" id="permState" placeholder={{perm_state}}/>
                            </div>

                            <div class="form_row">
                                <label>Country Code:</label>
                                <input type="text" class="form_input2" id="permCountry" placeholder={{perm_country}} />
                                <brek></brek>
                                <label>Zipcode:</label>
                                <input type="text" class="form_input2" id="permZipcode" placeholder={{perm_zipcode}}/>
                            </div>

                            <div class="form_row">
                                <label3>Correspondence Address Details</label3>
                            </div>


                            <div class="form_row">
                                <label>Street Address:</label>
                                <input type="text" class="form_input" id="currAdd" placeholder={{curr_add}}/>
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <input type="text" class="form_input2" id="currCity" placeholder={{curr_city}}/>
                                <brek></brek>
                                <label>State:</label>
                                <input type="text" class="form_input2" id="currState" placeholder={{curr_state}}/>
                            </div>

                            <div class="form_row">
                                <label>Country Code:</label>
                                <input type="text" class="form_input2" id="currCountry" placeholder={{curr_country}}/>
                                <brek></brek>
                                <label>Zipcode:</label>
                                <input type="text" class="form_input2" id="currZipcode" placeholder={{curr_zipcode}}/>
                            </div>

                            <div class="form_row">
                                <label>Email ID:</label>
                                <input type="text" class="form_input2" id="emailId" placeholder={{emailid}}/>
                                <brek></brek>
                                <label>Skype ID:</label>
                                <input type="text" class="form_input2" id="skypeId" placeholder={{skypeId}}/>
                            </div>
                            <div class="form_row">
                                <label>Blood Group:</label>
                                <input type="text" class="form_input2" id="bloodGroup" placeholder={{bloodgrp}}/>
                                <brek></brek>
                                <label>Phone Number:</label>
                                <input type="text" class="form_input2" id="phoneNo" placeholder={{phoneNo}} />
                            </div>

                            <div class="form_row">
                                <label>Roles:</label>
                                <select class="form_select" name="" id="role">
                                    <option value="0">Employee</option>
                                    <option value="1">Admin</option>
                                </select>
                                <brek></brek>
                                <label>Employement Status:</label>
                                <select class="form_select" name="" id="empStatus">
                                    <option value="0">Employed</option>
                                    <option value="1">Retired</option>
                                </select>
                            </div>
                            <div class="form_row">
                                <label>Employee ID:</label>
                                <input type="text" class="form_input2" id="empId" placeholder={{empid}} />

                                <label>UUID:</label>
                                <input type="text" class="form_input2" id="uuid" placeholder={{uuid}}/>
                            </div>

                            <div class="form_row">
                                <label>Designation:</label>
                                <input type="text" class="form_input2" id="designation" placeholder={{designation}}/>
                            </div>


                            <div class="form_row">
                                <input type="submit" class="form_submit" value="Submit" id="submit_button" />
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
