<div id="{{mojit_view_id}}">
    <div id="panelwrap">

        {{> header1_emp }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <ul id="tabsmenu" class="tabsmenu">
                        <li class="active"><a href="#tab1">Peronsal details</a></li>
                        <li><a href="#tab2">Communication details</a></li>
                    </ul>

                    <div id="tab1" class="tabcontent">
                        <h3>Peronsal Details</h3>
                        <div class="form">

                            <div class="form_row">
                                <label>First Name:</label>
                                <label>Last Name:</label>

                            </div>

                            <div class="form_row">
                                <label>Email ID:</label>
                                <label>Employee ID:</label>

                            </div>

                            <div class="form_row">
                                <label>Blood Group:</label>
                                <label>Employee Status:</label>

                            </div>

                            <div class="form_row">
                                <label>Date of Birth:</label>
                                <label>Date of Joining:</label>

                            </div>


                            <div class="clear"></div>
                        </div>
                    </div>

                    <div id="tab2" class="tabcontent">
                        <h3>Communication Details</h3>
                        <div class="form">

                            <div class="form_row">
                                <label>Permanent Address:</label>
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <label>State:</label>

                            </div>

                            <div class="form_row">
                                <label>Country:</label>
                                <label>Zipcode:</label>

                            </div>

                            <div class="form_row">
                                <label>Communication Address:</label>
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <label>State:</label>

                            </div>

                            <div class="form_row">
                                <label>Country:</label>
                                <label>Zipcode:</label>

                            </div>

                            <div class="form_row">
                                <label>Skype ID:</label>
                                <label>Phone Number:</label>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

