<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Welcome to the Admin Panel</h2>
                    <div id="content_box">
                    <p>Please chose a task to perform from the Admin tasks list provided. </p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
