<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Manage Employees</h2>


                    <table id="rounded-corner">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Phone No.</th>
                            <th>Skype ID</th>
                            <th>Profile</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <td colspan="12">Anything u want to display here ?</td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr class="odd">
                            <td>1.</td>
                            <td>..Employee Name1..</td>
                            <td>..Email Id..</td>
                            <td>..Phone NO..</td>
                            <td>..Skype Id..</td>
                            <td>View</td>
                            <td><a href="#"><img src="./edit.png" alt="" title="" border="0" /></a></td>
                            <td><a href="#"><img src="../assets/images/trash.gif" alt="" title="" border="0" /></a></td>
                        </tr>
                        <tr class="even">
                            <td>2.</td>
                            <td>..Employee Name2..</td>
                            <td>..Email Id..</td>
                            <td>..Phone NO..</td>
                            <td>..Skype Id..</td>
                            <td>View</td>
                            <td><a href="#"><img src="../../Frame/assets/images/edit.png" alt="" title="" border="0" /></a></td>
                            <td><a href="#"><img src="../../Frame/assets/images/trash.gif" alt="" title="" border="0" /></a></td>
                        </tr>
                        <tr class="odd">
                            <td>3.</td>
                            <td>..Employee Name3..</td>
                            <td>..Email Id..</td>
                            <td>..Phone NO..</td>
                            <td>..Skype Id..</td>
                            <td>View</td>
                            <td><a href="#"><img src="../../Frame/assets/images/edit.png" alt="" title="" border="0" /></a></td>
                            <td><a href="#"><img src="../../Frame/assets/images/trash.gif" alt="" title="" border="0" /></a></td>
                        </tr>
                        <tr class="even">
                            <td>4.</td>
                            <td>..Employee Name4..</td>
                            <td>..Email Id..</td>
                            <td>..Phone NO..</td>
                            <td>..Skype Id..</td>
                            <td>View</td>
                            <td><a href="#"><img src="../../Frame/assets/images/edit.png" alt="" title="" border="0" /></a></td>
                            <td><a href="#"><img src="../../Frame/assets/images/trash.gif" alt="" title="" border="0" /></a></td>
                        </tr>
                        <tr class="odd">
                            <td>5.</td>
                            <td>..Employee Name5..</td>
                            <td>..Email Id..</td>
                            <td>..Phone NO..</td>
                            <td>..Skype Id..</td>
                            <td>View</td>
                            <td><a href="#"><img src="../../Frame/assets/images/edit.png" alt="" title="" border="0" /></a></td>
                            <td><a href="#"><img src="../../Frame/assets/images/trash.gif" alt="" title="" border="0" /></a></td>
                        </tr>
                        <tr class="even">
                            <td>6.</td>
                            <td>..Employee Name6..</td>
                            <td>..Email Id..</td>
                            <td>..Phone NO..</td>
                            <td>..Skype Id..</td>
                            <td>View</td>
                            <td><a href="#"><img src="../../Frame/assets/images/edit.png" alt="" title="" border="0" /></a></td>
                            <td><a href="#"><img src="../../Frame/assets/images/trash.gif" alt="" title="" border="0" /></a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
